module.exports = {
    url: 'https://demo.local/customer/account/login',
    username: 'username',
    password: 'password',
    username_selector: '#email',
    password_selector: '#pass',
    button_selector: '#send'
}